# AULA 2

## Tipos de variáveis em Python

- As variáveis são *case sensitive*;

- Inteira: ```var_int = 2``` <br><br>
  Float: ```var_float = 2.0``` <br><br> 
  String: ```var_str = "Don`t panic"``` <br><br>
  Booleana: ```var_boll = True```

In [3]:
var_int = 2

var_float = 2.0

var_str = "Don`t panic"

var_bool = True

## As principais funções e operações da linguagem

- **type()**: função integrada que retorna o tipo de dado de um objeto;

- **print()**: usada para imprimir saídas na tela. Aceita um ou mais argumentos separados por vírgula;

- **input()**: usada para obter a entrada do usuário a partir do teclado;

In [5]:
print("Variável 1:", type(var_int))

Variável 1: <class 'int'>

In [10]:
idade = input("Sua idade:")
nome = input("Seu nome:")

print(f"Olá {nome} você tem {idade} anos.")

Olá Maria Clara você tem 30 anos.

Operações <br>

- Atribuição: **=**
- Adição: **+**
- Subtração: **-**
- Multiplicação: *
- Divisão: **/** 
- Módulo (resto da divisão de um número pelo outro): **%**
- Potência (eleva o primeiro número à potência do segundo): ** 
- Divisão inteira (resultado da divisão, arredondando para baixo): **//**

## Estrutudas de dados

- Lista(**list** - conchetes): uma lista é uma estrutura de dados mutável e ordenada que pode conter um número arbitrário de elementos de diferentes tipos. A ordem dos elementos é importante. 

- Dicionário (**dict** - chaves): é uma estruta de dados mutável e não ordenada que mapeia chaves a valores.

- Tupla (**tuple** - parêntesis): é uma coleção imutável e ordenada de elementos. São semelhantes às listas, exceto que elas são imutáveis (seus elementos não podem ser alterados após a criação da tupla).

- Set (**set** - chaves): é uma coleção mutável e não ordenada de \_elementos únicos\_, por isso não são acessados por sua posição, são acessados pelos valores únicos.


- Indexação multidimencional: capacidade de acessar elementos em estruturas de dados com mais de uma dimensão e é fundamental para o processamento de dados complexos, como imagens.

In [11]:
minha_lista = [1,2.2,"tres",4.0]
minha_lista[2]

'tres'

In [13]:
#multinível
minha_lista2 = [5,6,[7,8]]
minha_lista2[2]

[7, 8]

In [14]:
#append
minha_lista2.append('nove')
minha_lista2

[5, 6, [7, 8], 'nove']

In [15]:
#concatenação
lista_completa = minha_lista + minha_lista2
lista_completa

[1, 2.2, 'tres', 4.0, 5, 6, [7, 8], 'nove']

In [16]:
#ordenação
lista_ordenar = [5,2,1,3,4]
lista_ordenar.sort()
lista_ordenar

[1, 2, 3, 4, 5]

In [17]:
meu_dict = {"chave 1": "valor 1", "chave 2": 2, "chave 3": [1,2,3]}
meu_dict

{'chave 1': 'valor 1', 'chave 2': 2, 'chave 3': [1, 2, 3]}

In [21]:
minha_tupla = (1,"dois",3.0)
minha_lista = [1,"dois",3.0]

(1, 'dois', 3.0)

In [22]:
minha_lista[1] = 2
minha_lista

[1, 2, 3.0]

In [23]:
minha_tupla[1] = 2
minha_tupla #imutável

TypeError: 'tuple' object does not support item assignment

In [24]:
meu_set = {1,2,2,3,4,5,2}
meu_set

{1, 2, 3, 4, 5}

In [25]:
agora_lista = list(meu_set)
agora_tupla = tuple(meu_set)
print(meu_set)
print(agora_lista)
print(agora_tupla)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [28]:
minha_lista2 = [[1,2,3],'b','c']
print(minha_lista2[0])
print(minha_lista2[0][0])
print(minha_lista2[0][1])
print(minha_lista2[1])

[1, 2, 3]
1
2
b

In [30]:
minha_tupla = [(1,2,3),[4,5,6]]
minha_tupla[1][0] = 0
minha_tupla

[(1, 2, 3), [0, 5, 6]]

## Principais operações com String

- Concatenação: **+**

- Indexação: fatiar uma string em partes menores.

- Replace: substituir um caractere ou uma sequência de caracteres em uma string.

- Strip: remover espaçoes em branco e caracteres especiais do início e fim de uma string.

- Split: dividir uma string em uma lista de substrings utilizando um separador específico.

- upper() e lower()

## Exercício

Crie uma variével chamada saldo e atribua o valor de 950,60. Em seguida, pergunte ao usuário quanto dinheiro ele deseja sacar e armazene a resposta em uma variável chamada saque. Subtraia o valor de saque do valor de saldo e imprima a mensagem "Seu novo saldo é {saldo}.

In [35]:
saldo = 950.60

saque = input("Quanto deseja sacar?")

saldo = saldo - float(saque)

print(f"Seu novo saldo é: {saldo}")

Seu novo saldo é: 450.6

Faça um programa que crie uma lista com 5 frutas e permita que o usuário digite o nome de uma fruta. Se for uma fruta repetida deverá ser desconsiderada.

In [42]:
fruta1 = input("Fruta 1")
fruta2 = input("Fruta 2")
fruta3 = input("Fruta 3")
fruta4 = input("Fruta 4")
fruta5 = input("Fruta 5")

set_frutas = {f"{fruta1},{fruta2},{fruta3},{fruta4},{fruta5}"}
print(set_frutas)

{'maca,maca,banana,uva,pera'}

In [43]:
set_frutas

{'maca,maca,banana,uva,pera'}

Faça um programa que peça ao usuário para digitar uma frase e substitua todas as vogais por asteriscos.

In [49]:
frase = input("Digite uma frase:")

char_list = ["a","e","i","o","u"]

for char in char_list:  
    frase = frase.lower().replace(char,"*")

print(frase)

** t* *m*

Exercício 1

In [53]:
numero = int(input("Escreva um número: "))

if numero % 2 == 0:
    print("O número é par")
else: print("O número é ímpar")

O número é par

Exercício 2

In [63]:
frase = input("Escreva uma frase: ")
nova_frase = frase.split(" ")

for i in nova_frase:
   print("Palavra:",i, " - Número de caracteres: ", len(i))

Palavra: eu  - Número de caracteres:  2
Palavra: te  - Número de caracteres:  2
Palavra: amo  - Número de caracteres:  3

Exercício 3

In [66]:
senha = int(input("Insira uma senha de 4 dígitos: "))

if senha != 1234:
    senha = int(input("Insira uma senha de 4 dígitos: "))
else: 
    print("Senha correta!")

Senha correta!

Exercício 4

In [ ]:
n = 3
3*2*1
i = 1
for i <= n:
    mult = n*(n-i)
    print(fatorial)